<html>
    <head>
        <title>Tech Heros Internship</title>
        <meta name="description" content="Teens Hero Internship">
        <meta name="author" content="Flutterwave">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    </head>
    
    <body class="verified">
        
        <a href="/verify">Return Home</a>
        
        <div id="container">
                    <img class="verify" src="https://previews.123rf.com/images/arcady31/arcady311406/arcady31140600029/29430004-verified-stamp.jpg"/>
                    <p> Thank You <b> <%= data.fname %> <%= data.lname %> </b></p>
                    <p>Your Registered Date Of Birth is <b><%= data.dob %></b></p>
                    <p>Your Registered Phone Number is <b><%= data.phone %></b></p>
                    
        </div>
        
        
        

        
        
        
       
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </body>
</html>



